{% extends 'partials/base.html' %}
{% block title %}Events{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Events</h1>
    
    <!-- Search and Filter Form -->
    <div class="mb-4">
        <form method="GET" action="{% url 'event-page' %}">
            <div class="input-group mb-3">
                <!-- Search Input -->
                <input type="text" class="form-control" name="search" placeholder="Search events" value="{{ search_query }}">
                <!-- Filter Dropdown -->
                <select class="form-select" name="event_type">
                    <option value="">All Events</option>
                    {% for type in event_types %}
                        <option value="{{ type.event_type }}" {% if event_type_filter == type.event_type %}selected{% endif %}>
                            {{ type.event_type|title }}
                        </option>
                    {% endfor %}
                </select>
                <!-- Submit Button -->
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    
    <div class="row">
        {% for event in events %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm border-light h-100">
                    <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.name }}">
                    <div class="card-body text-center">
                        <a href="{% url 'event-detail' event.id %}" class="text-decoration-none">
                            <h5 class="card-title text-primary">{{ event.name }}</h5>
                        </a>
                        <p class="card-text text-muted">{{ event.location }}, {{ event.venue_details }}</p>
                        <p class="card-text text-muted">Type: {{ event.get_event_type_display }}</p>
                        <!-- Add the price paragraph here -->
                        <p class="text-danger">Price: KSH {{ event.price }}</p>
                        <a href="{% url 'event-detail' event.id %}" class="btn btn-primary">View Event</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="text-center text-muted">No events available.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
