{% extends 'partials/base.html'%}
{% load static%}
{% block title %}Home page{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="3000">
  <ol class="carousel-indicators">
    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    <div style="background-image:linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(media/events/carousel1.jpeg);" class="carousel-item active">
      <div class="carousel-text"> 
        <h1 class="advert-text">Booking tickets has never been easier</h1>
        </div>
      <!-- <img class="d-block w-100 h-100" src="images/carsel3.jpg" alt="Image 1"> -->
    </div>

    <div style="background-image:linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(media/events/carousel2.jpeg);" class="carousel-item">
      <div class="carousel-text"> 
        <h1 class="advert-text">Don't be left behind. Explore our various events</h1>
      </div>
      <!-- <img class="d-block w-100 h-100" src="images/carsel4.jpg" alt="Image 2"> -->
    </div>

    <div style="background-image:linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(media/events/carousel3.jpeg);" class="carousel-item item1">
      <div class="carousel-text">
        <h1 class="advert-text">Book tickets at the comfort of your home</h1>
        </div>
      <!-- <img class="d-block w-100 h-100" src="images/carsel5.jpg" alt="Image 3"> -->
    </div>

    </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    

<div class="container mt-5">
  <!-- Featured Events -->
  <h2 class="text-center mb-4">Featured Events</h2>
  <div class="row">
      {% if featured_events %}
          {% for event in featured_events %}
              <div class="col-md-3 mt-4">
                  <div class="card h-100 m-3 shadow rounded mt-3">
                      {% if event.image %}
                          <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.name }}">
                      {% else %}
                          <img src="{% static 'path/to/default/image.jpg' %}" class="card-img-top" alt="Default Image">
                      {% endif %}
                      <div class="card-body">
                          <a href="{% url 'event-detail' event.id %}">
                              <h5 class="card-title">{{ event.name }}</h5>
                          </a>
                          <p class="card-text">{{ event.location }}, {{ event.venue_details }}</p>
                          <a href="{% url 'event-detail' event.id %}" class="btn btn-primary">View Event</a>
                      </div>
                  </div>
              </div>
          {% endfor %}
      {% else %}
          <p class="text-center">No featured events available at the moment.</p>
      {% endif %}
  </div>

  <!-- Upcoming Events -->
  <div class="mt-5">
      <h2 class="text-center mb-4">Upcoming Events</h2>
      <div class="row">
          {% if upcoming_events %}
              {% for event in upcoming_events %}
                  <div class="col-md-3 mt-4">
                      <div class="card h-100 m-3 shadow rounded mt-3">
                          {% if event.image %}
                              <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.name }}">
                          {% else %}
                              <img src="{% static 'path/to/default/image.jpg' %}" class="card-img-top" alt="Default Image">
                          {% endif %}
                          <div class="card-body">
                              <a href="{% url 'event-detail' event.id %}">
                                  <h5 class="card-title">{{ event.name }}</h5>
                              </a>
                              <p class="card-text">{{ event.location }}, {{ event.venue_details }}</p>
                              <a href="{% url 'event-detail' event.id %}" class="btn btn-primary">View Event</a>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          {% else %}
              <p class="text-center">No upcoming events available at the moment.</p>
          {% endif %}
      </div>
  </div>

  <!-- Giveaway Events -->
  <div class="mt-5">
      <h2 class="text-center mb-4">Giveaway</h2>
      <div class="row">
          {% if giveaway_events %}
              {% for event in giveaway_events %}
                  <div class="col-md-3 mt-4">
                      <div class="card h-100 m-3 shadow rounded mt-3">
                          {% if event.image %}
                              <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.name }}">
                          {% else %}
                              <img src="{% static 'path/to/default/image.jpg' %}" class="card-img-top" alt="Default Image">
                          {% endif %}
                          <div class="card-body">
                              <a href="{% url 'event-detail' event.id %}">
                                  <h5 class="card-title">{{ event.name }}</h5>
                              </a>
                              <p class="card-text">{{ event.location }}, {{ event.venue_details }}</p>
                              <a href="{% url 'event-detail' event.id %}" class="btn btn-primary">View Event</a>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          {% else %}
              <p class="text-center">No giveaway events available at the moment.</p>
          {% endif %}
      </div>
  </div>
</div>
<div class="container mt-5">
    <h2 class="text-center mb-4">Partnerships</h2>
    <div class="row">
        <!-- Partnership 1 -->
        <div class="col-md-2 col-sm-4 mb-4 text-center">
            <img src="https://i.ibb.co/68wWJF1/part.jpg"  alt="Partnership 1" class="img-fluid">
            <p class="mt-2">Bond</p>
        </div>
        <!-- Partnership 2 -->
        <div class="col-md-2 col-sm-4 mb-4 text-center">
          <img src="https://i.ibb.co/8z7t77K/part2.jpg" alt="Partnership 2" class="img-fluid">
            <p class="mt-2">Allia</p>
        </div>
        <!-- Partnership 3 -->
        <div class="col-md-2 col-sm-4 mb-4 text-center">
          <img src="https://i.ibb.co/fvRdG1G/part3.jpg"  alt="Partnership 3" class="img-fluid">
            <p class="mt-2">CollabSphere</p>
        </div>
        <!-- Partnership 4 -->
        <div class="col-md-2 col-sm-4 mb-4 text-center">
          <img src="https://i.ibb.co/Vj2DrVj/part4.jpg"  alt="Partnership 4" class="img-fluid">
            <p class="mt-2">NexusCo</p>
        </div>
        <!-- Partnership 5 -->
        <div class="col-md-2 col-sm-4 mb-4 text-center">
          <img src="https://i.ibb.co/TqH8nqY/part6.jpg" alt="Partnership 5" class="img-fluid">
            <p class="mt-2">Linkr</p>
        </div>
   <!-- Partnership 6 -->
   <div class="col-md-2 col-sm-4 mb-4 text-center">
    <img src="https://i.ibb.co/J50NQcS/part7.jpg" alt="Partnership 6" class="img-fluid">
      <p class="mt-2">SynergyLink</p>
  </div>
    </div>
</div>
</div>
{% endblock %}


    



      

    


